body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    max-height: 100%;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.5em;
}

main {
    position: relative;
    top: 50px;
    bottom: 50px;
    left: 0px;
    right: 0;
    overflow: auto;
    background: #fff;
    transition: margin-left 0.5s;
    padding: 20px;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    overflow: hidden;
    background: #a4d;
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    overflow: hidden;
    background: #a4d;
}

#nav {
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 0;
    width: 200px;
    overflow: auto;
    background: #a9d;
    transition: 0.5;
}

.inner_container {
    margin: 15px;
}

.sub_container h1{
    margin: 0;
}

.sub_container {
    margin-top: 5px;
    margin-bottom: 5px;
}

.list_container {
    display: block;
    transition: 0.3;
}


p {
    color: #555;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
